<!doctype html>
<html>
    <head>
        <title>League of Legends Prototype</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://na.leagueoflegends.com/en/">League of Legends</a>
              </li>
            </ul>
        </nav>
        
        <div class="jumbotron">
            <h1 class="display-4">League of Legends</h1>
            <p class="lead">Various searches for League of Legends</p>
            <hr class="my-4">
            <p>
                Types of trackers: challenger, summoner name
            </p>
        </div>
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search By: Summoner Name</h5>
                <form action="/results" method="GET">
                    <div class="form-group">
                        <label for="summonerName">Summoner Name:</label>
                        <input class="form-control" id="summonerName" name="summonerName">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>