<h1>Results Page</h1>
<h3>Search Term: <%= searchTerm %></h3>

<ul>
    <% data["Search"].forEach(listing => { %>
        <li>
            <strong><%= listing["Title"] %></strong>
            - 
            <em><%= listing["Year"] %></em>
        </li>
    <% }); %>
</ul>

<a href="/search">Search For Something Else</a>