<h1>this is the secret page</h1>

<p>you found me!</p>

<img src="http://pre12.deviantart.net/3937/th/pre/f/2012/238/b/1/gohan_ssj_by_feeh05051995-d5ch6k5.png">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>